.component__checkbox {
  width: 100%;
  max-width: 500px;
  height: 325px;
  overflow-y: auto;

  h4 {
    margin: 12px 0 0;
  }

  svg {
    margin-right: 15px;
  }

  .checkbox-line {
    height: 38px;
    cursor: pointer;

    input[type = "checkbox"] {
      position: absolute;
      margin: 0;
      width: 18px;
      height: 18px;
      opacity: 0;

      + .icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $grey-line;

        svg {
          width: 14px;
          height: 13px;
          path {
            fill: $white;
          }
        }
      }

      &:checked + .icon {
        background-color: $online;
      }
    }


    h5 {
      font-family: $font-roboto-light;
      font-size: 14px;
      font-weight: lighter;
      margin: 0;
    }

    &:hover {
      background-color: $grey-back;

      svg {
        visibility: visible;
        cursor: pointer;
      }

      .icon {
        background-color: $white;
      }
    }
  }
}
