.component__form-user-data-edit {
  @extend .bottom-line;

  .personal-data:first-child {
    padding-top: 44px;
    margin-right: 1px;
  }

  .personal-data:last-child {
    margin-bottom: 44px;
  }

  .personal-data {
    padding-top: 15px;
    margin-right: 1px;

    label {
      padding-left: 30px;
    }

    .enter-data {
      max-width: 309px;
      width: 100%;
      border: 1px solid $grey-line;
      border-radius: 3px;

      .user-edit {
        font-family: $font-roboto-light;
        height: 40px;
        width: 100%;
        font-size: 14px;
        line-height: 42px;
        border:none;
        padding-left: 18px;
        outline: none;
      }
    }
  }
}