.component--menu-mobile {
  @extend .prop-comp-menu;
  padding: 25px 0;
  border-top: 1px solid $grey-menu-items;
  list-style-type: none;
  @extend .shadow-menu;

  .list-item {
    cursor: pointer;
    height: 3em;

    a {
      font-family: $font-roboto-light;
      color: $grey-menu-items;
      text-decoration: none;
      width: 100%;

      div {
        div:last-child {
          width: 80%;
        }
      }
    }

    svg {
      width: 26px;
      height: 26px;
      margin: 0 20px;

      polygon {
        fill: $grey-icon;
      }
    }

    &:hover {
      background-color: $grey-menu-hover;

      .item {
        color: $white;
      }

      svg {
        path {
          fill: $white;
        }
      }
    }

    .orange-line {
      background-color: $orange-point;
      height: 3em;
      width: 8px;
    }

    .item {
      font-weight: lighter;
      font-size: $font-size-26;
      margin: 0;
    }
  }
}
