.section--general {
  line-height: 42px;
  margin-bottom: 22px;
  background-color: $white;
  @extend .shadow-content;

  .top-distance {
    margin-top: 21px;
  }

  .data {
    border-bottom: 1px solid $grey-line;
    width: 100%;
    max-width: 307px;

    .first {
      margin: 0;
    }

    .second {
      margin: 0;
      font-family: $font-roboto-light;
    }
  }

  .middle {
    padding-top: 40px;

    .chart {
      padding-bottom: 54px;
      display: block;
      overflow-x: auto;
      width: 100%;

      canvas {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
