.section--left {
  @extend .prop-left-menu;
  width: 188px;
  @extend .shadow-menu;
  z-index: 9;

  .first {
    height: 60px;

    img:last-child {
      cursor: pointer;
    }
  }

  .second {
    padding: 10px 0 0 20px;

    .status {
      margin: 0;
      font-weight: lighter;
    }

    .cell {
      position: relative;
      cursor: pointer;

      .user-names {
        color: $blue-user;
        margin: 0;
        padding-left: 11px;
        font-weight: lighter;
      }

      &::after {
        position: absolute;
        content: "";
        background-color: $online;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        left: 30px;
        top: 0;
      }
    }
  }
}