.section__quit {
  max-width: 360px;
  width: 100%;
  background-color: $white;
  margin: 0 auto;
  @extend .shadow-content;

  .more-height {
    height: 70px;
  }

  .next {
    div {
      height: 85px;
      padding-right: 21px;
    }
  }
}